*.csv
clases_estefa/
contextos/
plan_asignatura.pdf
plan_asignatura/*/*.pdf
plan_asignatura/*/*.aux
plan_asignatura/*/*.log
plan_asignatura/*/*.out
plan_asignatura/*/*.toc
libro_inferencia/
prob_inf/
CLAUDE.md
contenido.csv
.claude/
.vscode/